header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 75px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.name {
    padding-top: 15px;
}

.space3 {
    display: flex;
    width: 33%;
    height: 0;
}

.navbar {
    display: flex;
    
}

.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-link {
    font-family: "Barlow", sans-serif;
}

.name p {
    font-size: 40px;
    font-family: "Audiowide", sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #91818A;
}

.myPic img {
    display: flex;
    width: 200px;
}

.middlePart {
    background-image: url("gradient1.png");
}

.headerImg {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerPage {
    display: flex;
    height: 130px;
}

#aboutMe {
    display: flex;
    justify-content: center;
}

.headline {
    width: 260px;
    padding-top: 30px;
}

.space1 {
    width: 150px;
}

.myProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    align-content: center;
}

.resumeButton {
    display: flex;
    justify-content: center;
}

#space1 {
    padding: 25px;
}

#space2 {
    padding: 50px;
    justify-content: center;
}

.buttonResume {
    padding: 10px;
}

#mySkills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 500px;
    margin-right: 500px;
}

.eachSkill {
    padding: 10%;
}

#mySkills img {
    width: 50px;
    height: auto;
}

h2 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

#body {
    display: flex;
    justify-content: center;
}

p, button {
    font-family: "Barlow", sans-serif;
}

.myBackground {
    width: 800px;
}

.mainLinks {
    color: black;
}

#myProjects {
    display: flex;
    justify-content: space-evenly;
}

.projectImg {
    width: 250px;
}

.projectImg:hover {
    width: 245px;
}

.hovernow:hover {
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.shopSmall {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-family: "Barlow", sans-serif;
}

.tailTalk {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-family: "Barlow", sans-serif;
}

.left {
    width: 10%;
}

.right {
    width: 75%;
}

.ncdsf {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-family: "Barlow", sans-serif;
}

.caption {
    display: block;
    font-size: x-large;
    color: black;
}

.buttonProjects {
    width: 150px;
    height: auto;
}

.wrapper {
    background-color: white;
    width: 1000px;
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
}

footer {
    height: 50px;
    position: relative;
    bottom: 0;
    background-color: black;
}

.projectBackground {
    width: 500px;
}

.backgroundImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.researchImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prototypingImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.usertestingImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.userflowImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.finalImg {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonsProject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projectButtons {
display: flex;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
}

.projectButtons img {
    height: 45px;
    width: auto;
}

.projectButtons p {
    padding-top: 10px;
}

.projectButtons a {
    color: black;
}